<div class="page-header has-tab">
  <h2 class="font-weight-normal">Profile</h2>
</div>
<div class="container">
  <form
    style="padding-top: 40px"
    [formGroup]="profileForm"
    nz-row
    nzJustify="center"
    nzAlign="middle"
    [nzGutter]="[4, 4]"
  >
    <nz-card nz-col nzSpan="24" nzTitle="Personal Infomation">
      <div class="media align-items-center">
        <nz-skeleton
          *ngIf="false"
          [nzActive]="true"
          [nzAvatar]="{ size: 80 }"
          [nzParagraph]="{ rows: 2 }"
        ></nz-skeleton>
        <ng-container *ngIf="!isLoading">
          <nz-avatar
            *ngIf="avatarUrl; else defaultAvatar"
            [nzSize]="80"
            [nzSrc]="avatarUrl"
          ></nz-avatar>
          <ng-template #defaultAvatar>
            <nz-avatar [nzSize]="80" nzIcon="user"></nz-avatar>
          </ng-template>
          <nz-form-item>
            <div class="m-l-20 m-r-20">
              <nz-form-label>
                <h5 class="m-b-5 font-size-18">Change Avatar</h5>
              </nz-form-label>
              <p class="opacity-07 font-size-13 m-b-0">
                Recommended Dimensions: <br />
                120x120 Max fil size: 5MB
              </p>
            </div>
            <nz-form-control>
              <nz-upload
                [nzBeforeUpload]="false"
                nzName="avatar"
                [nzShowUploadList]="false"
                (nzChange)="handleChange($event)"
              >
                <button nz-button nzType="primary">
                  <span>Upload</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
      <hr class="m-v-25" />

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              First Name
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="First Name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label
              nzRequired="true"
              [nzSpan]="24"
              nzFor="employment-type"
            >
              Middle Name
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Middle Name" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              Last Name
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="Last Name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              Email
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Email" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              Suffix
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="Suffix"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              FINCEN ID
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            style="width: 100px"
            (click)="updateProfile()"
            [disabled]="!profileForm.valid || loading"
            [nzLoading]="loading"
          >
            Update
          </button>
        </div>
      </div> -->
    </nz-card>

    <nz-card nz-col nzSpan="24" nzTitle="Personal Contact">
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-alert
            nzType="info"
            nzMessage="Provide your personal, physical mailing address. For federal
        requirements,this should be an actual location where you receive
        mail, nota Post Office box."
          >
          </nz-alert>
        </div>
      </div>
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              Address
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="Address"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              City
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="City"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              Country
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Country" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              State/Province
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="State/Province"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              Postal/ZIP Code
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Postal/ZIP Code" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            style="width: 100px"
            (click)="updateProfile()"
            [disabled]="!profileForm.valid || loading"
            [nzLoading]="loading"
          >
            Update
          </button>
        </div>
      </div> -->
    </nz-card>

    <nz-card nz-col nzSpan="24" nzTitle="Business Contact">
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-alert
            nzType="info"
            nzMessage="Provide your primary business mailing address, used for activities as a Company Applicant or Beneficial Owner"
          >
          </nz-alert>
        </div>
      </div>
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              Address
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="Address"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              City
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="City"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              Country
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Country" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24" nzFor="position">
              State/Province
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nzSize="large"
                style="width: 100%"
                required="true"
                nz-input
                placeholder="State/Province"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" [nzSpan]="24">
              Postal/ZIP Code
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nzSize="large" nz-input nzPlaceHolder="Postal/ZIP Code" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            style="width: 100px"
            (click)="updateProfile()"
            [disabled]="!profileForm.valid || loading"
            [nzLoading]="loading"
          >
            Update
          </button>
        </div>
      </div>
    </nz-card>
  </form>

  <!-- <nz-card nzTitle="Change Password">
    <div style="color: red; font-size: 12px">
      *New Password must be alphanumeric and 8 characters long.
    </div>
    <form nz-form [formGroup]="changePWForm">
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="oldPassword">Old Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your old password!">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input
                  [type]="currentPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="Old Password"
                  formControlName="current_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="newPassword">New Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your New Password!">
              <nz-input-group [nzSuffix]="newSuffixTemplate">
                <input
                  [type]="newPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="New Password"
                  formControlName="new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="confirmPassword">Confirm</nz-form-label>
            <nz-form-control nzErrorTip="Please confirm your New Password!">
              <nz-input-group [nzSuffix]="reNewSuffixTemplate">
                <input
                  [type]="reNewPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="New Password"
                  formControlName="re_new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-control>
              <button
                nz-button
                nzType="primary"
                (click)="submitchangePassword()"
                [disabled]="!changePWForm.valid || passwordLoading"
                [nzLoading]="passwordLoading"
              >
                Change
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card> -->
</div>

<!-- <ng-template #suffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="currentPasswordVisible = !currentPasswordVisible"
  ></span>
</ng-template>
<ng-template #newSuffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="newPasswordVisible = !newPasswordVisible"
  ></span>
</ng-template>
<ng-template #reNewSuffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="reNewPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="reNewPasswordVisible = !reNewPasswordVisible"
  ></span>
</ng-template> -->
