<div class="page-header has-tab">
  <h2 class="font-weight-normal">Profile</h2>
</div>
<div class="container">
  <nz-card nzTitle="Basic Infomation">
    <form nz-form [formGroup]="profileForm">
      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>First Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="First Name"
                formControlName="first_name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>Last Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Last name"
                formControlName="last_name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>User Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Username"
                formControlName="username"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>Email</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                formControlName="email"
                placeholder="Email"
                type="email"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            style="width: 100px"
            (click)="updateProfile()"
            [disabled]="!profileForm.valid || loading"
            [nzLoading]="loading"
          >
            Update
          </button>
        </div>
      </div>
      &nbsp;
    </form>
  </nz-card>

  <nz-card nzTitle="Change Password">
    <div style="color: red; font-size: 12px">
      *New Password must be alphanumeric and 8 characters long.
    </div>
    <form nz-form [formGroup]="changePWForm">
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="oldPassword">Old Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your old password!">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input
                  [type]="currentPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="Old Password"
                  formControlName="current_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="newPassword">New Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your New Password!">
              <nz-input-group [nzSuffix]="newSuffixTemplate">
                <input
                  [type]="newPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="New Password"
                  formControlName="new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="confirmPassword">Confirm</nz-form-label>
            <nz-form-control nzErrorTip="Please confirm your New Password!">
              <nz-input-group [nzSuffix]="reNewSuffixTemplate">
                <input
                  [type]="reNewPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="New Password"
                  formControlName="re_new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-control>
              <button
                nz-button
                nzType="primary"
                (click)="submitchangePassword()"
                [disabled]="!changePWForm.valid || passwordLoading"
                [nzLoading]="loading"
              >
                Change
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
</div>
<ng-template #suffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="currentPasswordVisible = !currentPasswordVisible"
  ></span>
</ng-template>
<ng-template #newSuffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="newPasswordVisible = !newPasswordVisible"
  ></span>
</ng-template>
<ng-template #reNewSuffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="reNewPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="reNewPasswordVisible = !reNewPasswordVisible"
  ></span>
</ng-template>
