<form nz-form [formGroup]="metaForm">
  <div nz-row [nzGutter]="[8, 16]">
    <nz-form-item style="width: 100%" nz-row>
      <nz-form-label nzRequired="yes" nz-col nzSpan="24">
        <div class="bold-label">Title</div>
      </nz-form-label>
      <nz-form-control nz-col nzSpan="24">
        <input
          nzSize="default"
          style="width: 100%"
          required="true"
          nz-input
          formControlName="metaTitle"
          placeholder="title"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="width: 100%" nz-row>
      <nz-form-label nzRequired="yes" nz-col nzSpan="24">
        <div class="bold-label">Description</div>
      </nz-form-label>
      <nz-form-control nz-col nzSpan="24">
        <textarea
          nzSize="default"
          style="width: 100%"
          required="true"
          nz-input
          rows="5"
          formControlName="metaDescription"
          placeholder="Description"
        >
        </textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row nzJustify="end">
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      [disabled]="metaForm.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</form>
