<div>
  <div>
    <!-- <nz-card> -->

    <div>
      <nz-tabset nzLinkRouter nzCentered>
        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'companyinfo' }"
            queryParamsHandling="merge"
          >
            <!-- <span nz-icon nzType="form"></span> -->
            Company Informtaion
          </a>

          <ng-template nz-tab>
            <div class="p-h-30 p-v-25">
              <app-company-info></app-company-info>
            </div>
          </ng-template>
        </nz-tab>

        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'members' }"
            queryParamsHandling="merge"
          >
            <!-- <span nz-icon nzType="form"></span> -->
            Company Members
          </a>

          <ng-template nz-tab>
            <div class="p-h-30 p-v-25">
              <app-members></app-members>
            </div>
          </ng-template>
        </nz-tab>

        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'invites' }"
            queryParamsHandling="merge"
          >
            <!-- <span nz-icon nzType="form"></span> -->
            Invites
          </a>

          <ng-template nz-tab>
            <div class="p-h-30 p-v-25">
              <app-invites></app-invites>
            </div>
          </ng-template>
        </nz-tab>

        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'boif' }"
            queryParamsHandling="merge"
          >
            <!-- <span nz-icon nzType="form"></span> -->
            BOI Filings
          </a>

          <ng-template nz-tab>
            <div class="p-h-30 p-v-25">
              <app-boif-table></app-boif-table>
            </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
    <!-- </nz-card> -->
  </div>
</div>
