<div class="">
  <h2 class="font-weight-normal">Purchase Add-ons</h2>
</div>
<div class="container" style="padding-top: 40px">
  <nz-table #basicTable [nzData]="data" [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzAlign="center">Options</th>
        <th nzAlign="center">Price (USD)</th>
        <th nzAlign="center">Quantity</th>
        <th nzAlign="center">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzAlign="center">{{ data.options }}</td>
        <td nzAlign="center">{{ data.price }}</td>
        <td nzAlign="center">{{ data.quantity }}</td>
        <td nzAlign="center">{{ data.cost }}</td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row nzJustify="end" style="padding-top: 40px">
    <div nz-col style="font-weight: bold; font-size: 18px; color: #333">
      Total Cost: $20
    </div>
  </div>

  <div nz-row nzJustify="end" style="padding-top: 40px">
    <div nz-col>
      <button nz-button nzType="primary">Place Order</button>
    </div>
  </div>
</div>
