<div
  class="container-fluid p-h-0 p-v-20 h-100 bg"
  style="background-image: url('assets/images/others/login-3.png')"
>
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-none d-md-block"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <nz-card class="m-b-100 shadow-lg">
            <div class="d-flex align-items-center justify-content-between">
              <img
                class="img-fluid"
                alt=""
                src="./assets/logo.webp"
                style="max-width: 53%; background: black"
              />
              <h2 class="m-b-0">Login</h2>
            </div>
            <div class="d-flex align-items-center justify-content-end">
              <span class="text-muted text-[14px]"
                >Don't have an account?
                <a class="small" [routerLink]="['/auth/signup']">
                  Signup</a
                ></span
              >
            </div>
            <form
              nz-form
              [formGroup]="logInForm"
              nzLayout="vertical"
              class="login-form"
              (ngSubmit)="submitForm()"
            >
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userName"
                  >Username</nz-form-label
                >
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input
                      type="text"
                      nz-input
                      formControlName="username"
                      placeholder="Username"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="relative">
                <nz-form-label nzRequired nzFor="password"
                  >Password</nz-form-label
                >
                <a
                  class="float-right font-size-13 text-muted"
                  style="position: absolute; right: 0"
                  [routerLink]="['/auth/recover']"
                  >Forget Password?</a
                >
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group
                    [nzSuffix]="suffixTemplate"
                    [nzPrefix]="prefixLock"
                  >
                    <input
                      [type]="showPassword ? 'text' : 'password'"
                      nz-input
                      formControlName="password"
                      placeholder="Password"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <button
                nz-button
                nzBlock
                [disabled]="!logInForm.valid || loading"
                [nzLoading]="loading"
                class="login-form-button"
                [nzType]="'primary'"
              >
                {{ loading ? "Logging in..." : "Login" }}
              </button>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </nz-card>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2023 Contempo Construction</span>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="text-dark text-link" href="#">Legal</a>
        </li>
        <li class="list-inline-item">
          <a class="text-dark text-link" href="#">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #suffixTemplate>
  <span
    style="cursor: pointer"
    nz-icon
    [nzType]="showPassword ? 'eye-invisible' : 'eye'"
    (click)="showPassword = !showPassword"
  ></span>
</ng-template>
