<div class="page-header has-tab">
  <h2 class="font-weight-normal">Change Preferences</h2>
</div>
<div class="container" style="padding-top: 40px">
  <nz-card nzTitle="Change Password">
    <form nz-form [formGroup]="changePWForm">
      <div class="row">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="oldPassword"
              >Old Password</nz-form-label
            >
            <nz-form-control nzErrorTip="Please input your old password!">
              <nz-input-group [nzSuffix]="currentTemplate">
                <input
                  [type]="currentPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="input password"
                  formControlName="current_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="newPassword"
              >New Password</nz-form-label
            >
            <nz-form-control nzErrorTip="Please input your New Password!">
              <nz-input-group [nzSuffix]="newTemplate">
                <input
                  [type]="newPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="input password"
                  formControlName="new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="confirmPassword"
              >Confirm</nz-form-label
            >
            <nz-form-control nzErrorTip="Please confirm your New Password!">
              <nz-input-group [nzSuffix]="renewTemplate">
                <input
                  [type]="reNewPasswordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="input password"
                  formControlName="re_new_password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            [disabled]="!changePWForm.valid"
            (click)="submitchangePassword()"
          >
            Change
          </button>
        </div>
      </div>
    </form>
    <ng-template #currentTemplate>
      <span
        nz-icon
        [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="currentPasswordVisible = !currentPasswordVisible"
      ></span>
    </ng-template>
    <ng-template #newTemplate>
      <span
        nz-icon
        [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="newPasswordVisible = !newPasswordVisible"
      ></span>
    </ng-template>
    <ng-template #renewTemplate>
      <span
        nz-icon
        [nzType]="reNewPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="reNewPasswordVisible = !reNewPasswordVisible"
      ></span>
    </ng-template>
  </nz-card>

  <nz-card nzTitle="Change Email">
    <form nz-form [formGroup]="changeEmailForm">
      <div class="row">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="oldEmail"
              >Old Email</nz-form-label
            >
            <nz-form-control nzErrorTip="Please input your old Email!">
              <nz-input-group>
                <input
                  nz-input
                  placeholder="input old Email"
                  formControlName="current_email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="newEmail"
              >New Email</nz-form-label
            >
            <nz-form-control nzErrorTip="Please input your New Email!">
              <nz-input-group>
                <input
                  nz-input
                  placeholder="input Email"
                  formControlName="new_email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="confirmEmail"
              >Confirm</nz-form-label
            >
            <nz-form-control nzErrorTip="Please confirm your New Email!">
              <nz-input-group>
                <input
                  nz-input
                  placeholder="input email"
                  formControlName="re_new_email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            [disabled]="!changeEmailForm.valid"
            (click)="submitchangeEmail()"
          >
            Change
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <nz-card nzTitle="Change Preferences">
    <form nz-form [formGroup]="changePreferencesForm">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="oldEmail"
              >Set Timezone</nz-form-label
            >
            <nz-form-control>
              <nz-select ngModel="GMT" formControlName="timezone">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                <nz-option
                  nzValue="disabled"
                  nzLabel="Disabled"
                  nzDisabled
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="newEmail"
              >Enable 2FA</nz-form-label
            >
            <nz-form-control>
              <nz-switch formControlName="enable_2FA"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="confirmEmail"
              >BOIF Alerts</nz-form-label
            >
            <nz-form-control nzErrorTip="Please confirm your New Email!">
              <nz-switch formControlName="enable_BOIF"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired="true" nzFor="confirmEmail"
              >Email Alerts</nz-form-label
            >
            <nz-form-control>
              <nz-switch
                formControlName="enable_notification_alert"
              ></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            [disabled]="!changeEmailForm.valid"
            (click)="submitchangePreference()"
          >
            Change
          </button>
        </div>
      </div>
    </form>
  </nz-card>
</div>
