<nz-card class="custom-card">
  <div nz-row [nzGutter]="[8, 16]">
    <div nz-col nzSpan="24">
      <div class="card-label">Meta Title</div>
      <textarea
        nz-input
        nzSize="default"
        style="width: 100%"
        [(ngModel)]="metaTitle"
        (input)="updateWordCounts()"
        rows="1"
        placeholder="Title"
      ></textarea>
    </div>
    <div nz-col nzSpan="24">
      <div class="card-label">Meta Description</div>
      <textarea
        nz-input
        nzSize="default"
        style="width: 100%"
        [(ngModel)]="metaDescription"
        (input)="updateWordCounts()"
        rows="2"
        placeholder="Description"
      ></textarea>
    </div>
  </div>
</nz-card>
