.card-label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: #7d8479;
  color: white;
}

:host ::ng-deep .custom-meta-card .ant-card-body {
  padding: 0 !important;
}
