<!-- <nz-radio-group
  [(ngModel)]="selectedTable"
  nzSize="small"
  nzButtonStyle="solid"
  (ngModelChange)="onTableSelectionChange()"
>
  <label nz-radio-button nzValue="Variations"
    >Variation
    <badge [data]="calculateRadioLength('Variations')"></badge>
  </label>
  <label nz-radio-button nzValue="LSIKeywords"
    >LSI KWs
    <badge [data]="calculateRadioLength('LSIKeywords')"></badge>
  </label>
  <label nz-radio-button nzValue="Entity"
    >Entities
    <badge [data]="calculateRadioLength('Entity')"></badge>
  </label>
</nz-radio-group> -->

<nz-segmented [nzOptions]="options" [nzLabelTemplate]="templateRef" (nzValueChange)="handleIndexChange(options[$event])"></nz-segmented>

<ng-template #temp let-index="index">
  <ng-container>
    <badge class="shadow" [data]="calculateRadioLength(options[index].value)"></badge>
    <div>{{options[index].label}}</div>
  </ng-container>
</ng-template>
