<div class="">
  <h2 class="font-weight-normal">Companies</h2>
</div>
<div class="container" style="padding-top: 40px">
  <div nz-row nzJustify="end" class="mb-2">
    <button
      nz-button
      nzType="primary"
      nzSize="small"
      (click)="createOrganization()"
    >
      Add a company
    </button>
  </div>

  <nz-table #basicTable [nzData]="organizations" [nzLoading]="loading">
    <thead>
      <tr>
        <th nzAlign="center">Company Name</th>
        <th nzAlign="center">Company Type</th>
        <th nzAlign="center">State</th>
        <th nzAlign="center">My Roles</th>
        <th nzAlign="center">BOIF Alerts</th>
        <th nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzAlign="center">
          <a (click)="viewCompany(data.id)">{{ data.name }}</a>
        </td>
        <td nzAlign="center">
          {{
            data.organization_info?.type_display
              ? data.organization_info?.type_display
              : "-"
          }}
        </td>
        <td nzAlign="center">
          {{
            data.organization_info?.organization_addresses[0]?.state
              ? data.organization_info?.organization_addresses[0]?.state
              : "-"
          }}
        </td>
        <td nzAlign="center">{{ "-" }}</td>
        <td nzAlign="center">{{ "-" }}</td>
        <td nzAlign="center">
          <a (click)="editOrganization(data.id)">
            <span
              nz-icon
              nzType="edit"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#ffa900'"
            ></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this company?"
            (nzOnConfirm)="deleteOrganization(data.id)"
            nzPopconfirmPlacement="top"
            [nzLoading]="isLoading"
          >
            <span
              nz-icon
              nzType="delete"
              nzTheme="twotone"
              [nzTwotoneColor]="'red'"
            ></span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
