<div *ngIf="tableLoaderService.summernoteLoader">
  <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 8 }"></nz-skeleton>
</div>

<div nz-row [nzGutter]="[16, 0]">
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h1')"
  >
    H1
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h2')"
  >
    H2
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h3')"
  >
    H3
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h4')"
  >
    H4
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h5')"
  >
    H5
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightTag('h6')"
  >
    H6
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightKey('Entity', 'blue')"
  >
    Entity
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightKey('Variations', 'green')"
  >
    Variations
  </button>
  <button
    nz-col
    nz-button
    [nzSize]="'small'"
    [nzType]="'primary'"
    (click)="highlightKey('LSIKeywords', 'red')"
  >
    LSIKeywords
  </button>
</div>

<div
  #editor
  *ngIf="!tableLoaderService.summernoteLoader"
  [ngxSummernote]="editorConfig"
  [(ngModel)]="editorContent"
  (ngModelChange)="onEditorContentChange($event)"
></div>
