<div>
  <nz-tabset nzType="card" nzLinkRouter nzCentered>
    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['.']"
        [queryParams]="{ tab2: 'overview' }"
        queryParamsHandling="merge"
      >
        Billing Overview
      </a>

      <ng-template nz-tab>
        <div class="p-h-30 p-v-25">
          <app-billing-overview></app-billing-overview>
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['.']"
        [queryParams]="{ tab2: 'invoices' }"
        queryParamsHandling="merge"
      >
        Billing Invoices
      </a>

      <ng-template nz-tab>
        <div class="p-h-30 p-v-25">
          <app-billing-invoices></app-billing-invoices>
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['.']"
        [queryParams]="{ tab2: 'information' }"
        queryParamsHandling="merge"
      >
        Billing Infomation
      </a>

      <ng-template nz-tab>
        <div class="p-h-30 p-v-25">
          <app-billing-information></app-billing-information>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['.']"
        [queryParams]="{ tab2: 'payment' }"
        queryParamsHandling="merge"
      >
        Payment Methods
      </a>

      <ng-template nz-tab>
        <div class="p-h-30 p-v-25">
          <app-payment-methods></app-payment-methods>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['.']"
        [queryParams]="{ tab2: 'add-ons' }"
        queryParamsHandling="merge"
      >
        Purchase Add-ons
      </a>

      <ng-template nz-tab>
        <div class="p-h-30 p-v-25">
          <app-add-ons></app-add-ons>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
