@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    vertical-align: unset;
  }
}

@import url("./assets/lib/hljs/styles/atom-one-light.css");
@import url("../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";

// @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
// // @import "~tui-image-editor/dist/tui-image-editor.min.css";
// * {
//   font-family: "Lato";
//   font-style: normal;
// }
//removing number arrows from input field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

input {
  border-radius: 4px !important;
}

th.focused,
td.focused {
  // background-color: lightblue;
  filter: blur(2px);
}

// table:hover,
tr:hover,
thead:hover {
  background-color: lighten($brand-primary, 30%) !important;
  color: black !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
