<nz-table
  #groupingTable
  nzBordered
  nzSize="small"
  [nzData]="listOfData"
  [nzFrontPagination]="false"
  [nzScroll]="{ x: '1150px' }"
>
  <thead>
    <tr>
      <th class="table-head" nzLeft rowspan="4" nzAlign="center" nzWidth="10%">
        Suggestions
      </th>
    </tr>

    <tr>
      <th class="table-head" colspan="2" nzAlign="center">Meta Title</th>
      <th class="table-head" colspan="2" nzAlign="center">Meta Description</th>
      <th class="table-head" colspan="2" nzAlign="center">H1</th>
      <th class="table-head" colspan="2" nzAlign="center">H2</th>
      <th class="table-head" colspan="2" nzAlign="center">H3</th>
      <th class="table-head" colspan="2" nzAlign="center">H4</th>
      <th class="table-head" colspan="2" nzAlign="center">H5</th>
      <th class="table-head" colspan="2" nzAlign="center">H6</th>
      <th class="table-head" colspan="2" nzAlign="center">Content</th>
    </tr>
    <tr>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
      <th class="table-head" nzAlign="center">C</th>
      <th class="table-head" nzAlign="center">R</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let data of groupingTable.data">
      <td class="table-head" nzLeft nzAlign="center">{{ data.name }}</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
      <td nzAlign="center">C</td>
      <td nzAlign="center">R</td>
    </tr> -->
    <tr>
      <td nzLeft nzAlign="center" class="table-col">Entities</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT009</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT008</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT002</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT003</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT004</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT005</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT006</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT007</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">ENT018</td>
    </tr>
    <tr>
      <td nzLeft nzAlign="center" class="table-col">LSI Keywords</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI001</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI003</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI005</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI006</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI007</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI008</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI009</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI010</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">LSI002</td>
    </tr>
    <tr>
      <td nzLeft nzAlign="center" class="table-col">Variations</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP481</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP381</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP152</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP165</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP169</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP173</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP181</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP185</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP469</td>
    </tr>
    <tr>
      <td nzLeft nzAlign="center" class="table-col">Words/Tags</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP481a</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP481b</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">1</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CPXR005</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CPXR006</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CPXR007</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CPXR008</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CPXR009</td>
      <td nzAlign="center">0</td>
      <td nzAlign="center">CP492</td>
    </tr>
  </tbody>
</nz-table>
