<div nz-row nzJustify="center" [nzGutter]="[0, 16]">
  <div nz-col class="w-[88%]">
    <nz-table
      #table
      nzBordered
      nzSize="small"
      [nzFrontPagination]="false"
      [nzData]="tableData"
    >
      <thead>
        <tr>
          <th class="table-head" nzAlign="center">Name</th>
          <th class="table-head" nzAlign="center">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzAlign="center">{{ data.word }}</td>
          <td nzAlign="center">
            <nz-badge nzStandalone [nzCount]="data.count" nzShowZero></nz-badge>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
