<div nz-row nzJustify="center" [nzGutter]="[0, 2]">
  <div nz-col>
    <nz-input-group
      [nzSize]="'small'"
      style="width: 100%"
      [nzPrefix]="prefixTemplateUser"
    >
      <input
        type="text"
        nz-input
        placeholder="Search Word"
        [(ngModel)]="searchValue"
        (ngModelChange)="filterTable()"
      />
    </nz-input-group>
  </div>
  <ng-template #prefixTemplateUser
    ><span nz-icon nzType="search"></span
  ></ng-template>

  <div nz-col>
    <nz-table
      class="variation-table"
      *ngIf="!this.tableLoader.variationTableLoader"
      #virtualTable
      nzBordered
      nzSize="small"
      [nzFrontPagination]="false"
      [nzData]="tableData"
      [nzLoading]="tableLoader.variationTableLoader"
      [nzVirtualItemSize]="10"
      [nzVirtualForTrackBy]="trackByIndex"
      nzTableLayout="fixed"
      [nzScroll]="{ y: '240px' }"
    >
      <thead>
        <tr>
          <th class="table-head" nzAlign="center" nzCustomFilter nzWidth="75%">
            Name
            <badge [data]="virtualTable.data.length"></badge>
          </th>
          <th class="table-head" nzAlign="center">
            Qty
            <badge [data]="calculatePositiveCount(virtualTable.data)"></badge>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr>
            <td nzAlign="center" class="cell-hover-show">
              <span
                nz-icon
                nzType="close-circle"
                [nzTheme]="'outline'"
                class="icon-hover-show"
                (click)="deleteRow(data.word)"
              ></span>
              <span class="ml-2">{{ data.word }}</span>
            </td>
            <td *ngIf="data && data.count" nzAlign="center">
              <badge [data]="data.count.summer_note + data.count.meta"></badge>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
