<div nz-row nzJustify="center" [nzGutter]="[0, 16]">
  <div nz-col>
    <nz-table
      #table
      nzBordered
      nzSize="small"
      [nzFrontPagination]="false"
      [nzData]="tableData"
      [nzLoading]="tableLoader.variationTableLoader"
      nzTableLayout="fixed"
      [nzScroll]="{y:'240px'}"
    >
      <thead>
        <tr>
          <th class="table-head" nzAlign="center" nzCustomFilter nzWidth="75%">
            Name
            <nz-filter-trigger
              [(nzVisible)]="visible"
              [nzActive]="searchValue.length > 0"
              [nzDropdownMenu]="menu"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th class="table-head" nzAlign="center">Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td
            *ngIf="data && data.word"
            nzAlign="center"
            class="cell-hover-show"
          >
            <span
              nz-icon
              nzType="close-circle"
              [nzTheme]="'outline'"
              class="icon-hover-show"
              (click)="deleteRow(data.word)"
            ></span>
            <span class="ml-2">{{ data.word }}</span>
          </td>
          <td *ngIf="data && data.count" nzAlign="center">
            <badge [data]="data.count.summer_note + data.count.meta"></badge>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="searchValue"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
