<div class="">
  <h2 class="font-weight-normal">Members</h2>
</div>
<div class="container" style="padding-top: 40px">
  <div nz-row nzJustify="end" class="mb-2">
    <button nz-button nzType="primary" nzSize="small" (click)="addMember()">
      Add a member
    </button>
  </div>

  <nz-table #basicTable [nzData]="members" [nzLoading]="loading">
    <thead>
      <tr>
        <th nzAlign="center">Member Name</th>
        <th nzAlign="center">Beneficial Owner</th>
        <th nzAlign="center">Roles</th>
        <th nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzAlign="center">
          {{ data.firstname ?? "-" }} {{ data.lastname ?? "-" }}
        </td>
        <td nzAlign="center">{{ hasBeneficialOwnerGroup(data) }}</td>
        <td nzAlign="center">{{ data.groups }}</td>
        <td nzAlign="center">
          <a (click)="editMember()">
            <span
              nz-icon
              nzType="edit"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#ffa900'"
            ></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <span
            nz-icon
            nzType="delete"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="'red'"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
