<div nz-row nzJustify="space-between" nzAlign="middle" [nzGutter]="[8, 8]">
    <nz-progress 
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="4"
    style="text-align: center"
    [nzPercent]="75" [nzWidth]="100" nzType="circle"></nz-progress>
    <app-suggestion-table
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="15"
    ></app-suggestion-table>

  <div
    nz-col
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="5"
    style="text-align: center"
  >
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[8, 8]"></div>
    <div nz-col>
      <app-file-selector></app-file-selector>
    </div>
    <div nz-col>
      <scrape-search></scrape-search>
    </div>
    <div nz-col>
      <upload-report></upload-report>
    </div>
  </div>

  <!-- <div nz-col [nzSm]="24" [nzMd]="10" [nzLg]="8" [nzXl]="8">
    <scrape-search></scrape-search>
  </div> -->
</div>
<br/><br/>
<div nz-row nzJustify="space-around" [nzGutter]="[8, 8]">
  <div nz-col [nzMd]="24" [nzLg]="6" [nzXl]="6">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[0, 8]">
      <div nz-col>
        <app-table-radio
          (selectedTableChange)="onTableSelection($event)"
        ></app-table-radio>
      </div>
      <div nz-col>
        <app-variation-table [data]="getData()"></app-variation-table>
      </div>
    </div>
  </div>

  <div nz-col [nzMd]="24" [nzLg]="13" [nzXl]="13">
    <app-summernote
      (onEditorContent)="onEditorContent($event)"
    ></app-summernote>
  </div>
  <div nz-col [nzMd]="24" [nzLg]="5" [nzXl]="5">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[8, 8]">
      <div nz-col>
        <app-save-button [editorContent]="editorContent"></app-save-button>
      </div>
      <div>
        <meta-button></meta-button>
      </div>
    </div>
  </div>
</div>
