<div nz-row nzJustify="space-around" nzAlign="middle" [nzGutter]="[8, 8]">
  <nz-progress
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="3"
    style="text-align: center"
    [nzPercent]="wordCounter.calculateAverageRatios()"
    [nzWidth]="100"
    nzType="circle"
  ></nz-progress>
  <app-suggestion-table
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="16"
  ></app-suggestion-table>

  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="22"
    [nzLg]="22"
    [nzXl]="5"
    style="text-align: center"
  >
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[8, 8]"></div>
    <div nz-col>
      <!-- <app-file-selector></app-file-selector> -->
    </div>
    <div nz-col>
      <scrape-search></scrape-search>
    </div>
    <div nz-col>
      <upload-report [reportId]="reportId"></upload-report>
    </div>
  </div>

  <!-- <div nz-col [nzSm]="24" [nzMd]="10" [nzLg]="8" [nzXl]="8">
    <scrape-search></scrape-search>
  </div> -->
</div>
<br /><br />
<div nz-row nzJustify="space-around" [nzGutter]="[8, 8]">
  <div nz-col [nzMd]="24" [nzLg]="6" [nzXl]="5">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[7, 8]">
      <div nz-col>
        <app-table-radio
          (selectedTableChange)="onTableSelection($event)"
        ></app-table-radio>
      </div>
      <div nz-col>
        <app-variation-table
          [data]="data"
          [selectedTable]="selectedTable"
        ></app-variation-table>
      </div>
    </div>
  </div>

  <div nz-col [nzMd]="24" [nzLg]="13" [nzXl]="13.5">
    <app-summernote
      [reportId]="reportId"
      (onEditorContent)="onEditorContent($event)"
    ></app-summernote>
  </div>
  <div nz-col [nzMd]="24" [nzLg]="5" [nzXl]="5">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[8, 8]">
      <div>
        <meta-button></meta-button>
      </div>
    </div>
  </div>
</div>
<div class="bottom-btn shadow">
  <app-save-button [reportId]="reportId"></app-save-button>
</div>
