.bottom-btn {
    position: sticky;
    /* float: right; */
    text-align: right;
    bottom: 0;
    /* background: #eeeeee; */
    z-index: 100;
    /* box-shadow: 0 8px 8px -4px lightblue; */
    /* box-shadow: 10px 10px #4a9b874a; */
    padding: 7px;
}