<div class="">
  <div nz-row nzAlign="middle" [nzGutter]="[16, 16]">
    <div nz-col [nzMd]="24" [nzLg]="5" [nzXl]="5">
      <div nz-row [nzGutter]="[16, 32]" nzJustify="center" nzAlign="middle">
        <div nz-col><scrape-search></scrape-search></div>

        <div nz-col><filter></filter></div>

        <div nz-col>
          <div nz-row nzJustify="center" [nzGutter]="[8, 8]">
            <div nz-col>
              <upload-report></upload-report>
            </div>

            <div nz-col>
              <meta-button></meta-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div nz-col [nzMd]="24" [nzLg]="19" [nzXl]="19">
      <app-suggestion-table></app-suggestion-table>
    </div>
  </div>

  <div nz-row nzJustify="center" [nzGutter]="[16, 0]">
    <div nz-col [nzMd]="24" [nzLg]="5" [nzXl]="5">
      <app-variation-table></app-variation-table>
    </div>
    <div nz-col [nzMd]="24" [nzLg]="19" [nzXl]="19">
      <app-summernote></app-summernote>
    </div>
  </div>
</div>
